@media screen and (max-width: 400px) {
    .gallery__item{
         width: 300px;
    }

    .search-form {
        display: flex;
    }

    .gallery{
        margin-top: 95px;
    }   

}


@media screen and (max-width: 767px) {
     .gallery{
        display: block;
        justify-content: center;
     }
    .gallery__item{
         min-width: 300px;
         margin-left: auto;
         margin-right: auto;
         margin-bottom: 10px;
    }
   
}

/* tablet styles * для планшетів */
@media screen and (min-width: 768px) {
    .gallery{
        display: flex;
        justify-content: flex-start;
    }
    .gallery__item{
         width: calc((100% - 24px)/2);
         height: 350px;
         justify-content: flex-start;
    }

    .gallery__item img{
         height: 280px;
    }

    .info{
        height: 700px;
    }
}

/* для більших за планшет */
@media screen and (min-width: 1158px) {
    .gallery__item{
        width: calc((100% - 36px) / 4);  
    }

    .gallery{
        /* justify-content: center; */
        margin-left: auto;
        margin-right: auto;
    }
}